


/* สำหรับหน้าจอ Desktop (ตั้งแต่ 1024px ขึ้นไป) */
@media screen and (min-width: 1024px) {
    nav{
        background-color: #0c0c0c;
        color: white;
        padding: 10px;
        text-align: center;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
    }
    
    .nav-items{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 20px;
    }
    
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    a:hover{
        font-size: 35px;
    }
}

/* สำหรับหน้าจอ Tablet (iPad, ขนาด 768px - 1023px) */
@media screen and (max-width: 1023px) {

}

/* สำหรับหน้าจอ Mobile (ต่ำกว่า 768px) */
@media screen and (max-width: 768px) {

}

/* สำหรับหน้าจอมือถือขนาดเล็ก (ต่ำกว่า 480px) */
@media screen and (max-width: 480px) {
    nav{
        background-color: #0c0c0c;
        color: white;
        padding: 10px;
        text-align: center;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100vw;
    }
    
    .nav-items{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 10px;
    }
    
    a{
        text-decoration: none;
        color: white;
        font-size: 10px;
    }
    a:hover{
        font-size: 20px;
    }
}