
/* สำหรับหน้าจอ Desktop (ตั้งแต่ 1024px ขึ้นไป) */
@media screen and (min-width: 1024px) {
    .Contact-list{
        margin-top: 50px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
    .contact-item{
        background-color: none;
        border: 2px solid #5a5a5a;
        width: 650px;
        height: 50px;
        padding: 10px 30px;
        border-radius: 5px;
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }
}

/* สำหรับหน้าจอ Tablet (iPad, ขนาด 768px - 1023px) */
@media screen and (max-width: 1023px) {

}

/* สำหรับหน้าจอ Mobile (ต่ำกว่า 768px) */
@media screen and (max-width: 768px) {

}

/* สำหรับหน้าจอมือถือขนาดเล็ก (ต่ำกว่า 480px) */
@media screen and (max-width: 480px) {
    .Contact-list{
        margin-top: 50px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
    .contact-item{
        background-color: none;
        border: 2px solid #5a5a5a;
        width: 350px;
        height: 50px;
        padding: 10px 30px;
        border-radius: 5px;
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }
}